@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

html, body {
    background-color: #000000;
    color: #ffffff;
}

p, a, ul, ol {
    font-family: 'KoHo', sans-serif;
}
.mapouter {
    padding: 20px;
}
div#map {
    height: 500px;
    min-height: 360px;
    width: 100%;
    border: 1px solid #136C69;
    margin: 0px;
}

header {
    margin: 0;
    /* background-color: #136C69; */
    padding-top: 20px;
    border-bottom: 1px #ff4000 solid;
    background: rgb(19,108,105);
    background: linear-gradient(180deg, rgba(19,108,105,1) 0%, rgba(0,0,0,1) 100%);
}
.title-main {
    color: #fff;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 3.5em;
    text-shadow: 2px 2px #000000;
}
.title-sub {
    color: #ff4000;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}

.navbar-nav {
    margin: 0 auto;
}
.nav-link {
    text-decoration: none;
    color:#fff;
}
.nav-link:hover {
    color: #ff0;
}

.navbar-toggler, .navbar-toggler-icon {
    color: #fff;
    border: 1px solid #fff;
}
.wrap {
    margin:0;
    padding: 0;
}
.intro {
    margin: 20px;
    padding: 20px;
    border-width: 1px 1px 5px 1px;
    border-style: solid;
    border-color: #136C69;
}
.intro-heading {
    font-size: 1.25em;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.section-title {
    font-family: 'Marcellus SC', serif;
}
.intro-text {
    margin-top: 50px;
}
img {
    border: 1px solid #136C69;
}
.badge-danger {
    border-radius: 25px;
    padding: 10px;
    font-size: 1em;
    color: #000000;
    border: 1px solid #ffffff;
    -webkit-background-clip: padding-box;
}
ul, ol {
    list-style-type: none;
}
li {
    margin-bottom: 5px;
    font-size: 1.125em;
}
.listheading {
    font-size: 1.5em;
    font-weight: bold;
}
.accom {
    margin: 10px 0px 10px 0px;
}
.accom-info {
    padding-left: 50px;
}
#gettinghere {
    margin: 20px 0px 20px 0px;

}

footer {
    margin: 0;
    background-color: #136C69;
    padding-top: 20px;
}
.legal {
    color: #FEFBD0;
}