@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

p, a {
    font-family: 'KoHo', sans-serif;
}

div#map {
    min-height: 360px;
    min-width: 100%;
}

header {
    margin: 0;
    background-color: #136C69;
}
.title-main {
    color: #fff;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}
.title-sub {
    color: #FEFBD0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.navbar-nav {
    margin: 0 auto;
}
.nav-link {
    text-decoration: none;
    color:#fff;
}
.nav-link:hover {
    color: #ff0;
}