@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

html, body {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    scroll-behavior: smooth;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,108,105,1) 39%, rgba(104,175,174,1) 87%);
}

p, a, ul, ol {
    font-family: 'KoHo', sans-serif;
}
.mapouter {
    padding: 20px;
}
div#map {
    height: 500px;
    min-height: 360px;
    width: 100%;
    border: 1px solid #136C69;
    margin: 0px;
}
.content {
    color: #136C69;
    z-index: 999;
 /*   max-width: 300px;*/
}
/* Header */
header {
    margin: 0;
    /* background-color: #136C69; */
    padding-top: 20px;
    border-bottom: 2px #ff4000 solid;
    background: rgb(19,108,105);
    background: linear-gradient(180deg, rgba(19,108,105,1) 0%, rgba(0,0,0,1) 100%);
}
.title-main {
    color: #fff;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 3.5em;
    text-shadow: 2px 2px #000000;
}
.title-sub {
    color: #ff4000;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}
/*Navbar*/
.navbar, .navbar-expand-lg, .nav-item {
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}
.navbar-nav {
    margin: 0 auto;
}
.nav-link {
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 1.25em;
    border-right: 1px solid #ff4000;
}
.nav-link:hover {
    color: #ff0;
    background-color: #ff4000;
}

.navbar-toggler, .navbar-toggler-icon {
    color: #fff;
    border: 1px solid #fff;
}
.wrap {
    margin:0;
    padding: 0;
}

.section {
    margin: 0 auto;
    border-width: 1px 1px 5px 1px;
    border-style: solid;
    border-color: #136C69;
    margin: 20px;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,108,105,1) 24%);
    webkit-box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
    box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
}
.top {
    margin-top: 240px;
}
.section-title {
    font-family: 'Marcellus SC', serif;
    color: #ff4000;
}

img {
    border: 1px solid #136C69;
}
.intro-title {
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.intro-text {
    margin: 50px;
    text-align: center;
    font-size: 1.25em;
}
.badge-danger {
    border-radius: 25px;
    padding: 10px;
    font-size: 1em;
    color: #000000;
    border: 1px solid #ffffff;
    -webkit-background-clip: padding-box;
}
.card {
    width: 18rem;
    background-color: #136C69;
    border: 1px solid #013936;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,108,105,1) 24%);
    webkit-box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
    box-shadow: 5px 5px 5px 5px rgba(0,41,38,1);
}
ul, ol {
    list-style-type: none;
}
li {
    margin-bottom: 5px;
    font-size: 1.125em;
}
.listheading {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffd826;
}
.accom {
    margin: 10px 0px 10px 0px;
}
.accom-info {
    padding-left: 50px;
}
.ext-link {
    text-decoration: none;
    color: #ffffff;
}
.ext-link:hover {
    text-decoration: none;
    color: #ff4000;
}
.act-heading {
    font-family: 'KoHo', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffd826;
}
/*#gettinghere {
    margin: 20px 0px 20px 0px;

}*/

footer {
    margin: 50px 0px 0px 0px;
    background-color: #136C69;
    padding-top: 20px;
    border-top: 1px solid #fff;
}
.legal {
    color: #FEFBD0;
}